.head{
    color: green;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
    background-color: rgb(124, 218, 124);
   
}
.navbar-left{
    padding-left: 15px;
    
}
.navbar-right{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.a-element{
    width: 70px;
    border: 2px solid ;
    margin: 5px;
    text-align: center;
    color: blue;
}
.About1{
    align-items: center;
    
}
.About-bottom{
  text-align: center;
}
.About-top{
    text-align: center;
}
.name{
    color: rgb(0, 19, 185);
}
.Eduation1{
    padding: 20px;
    background-color: black;
}
.edu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    margin: 8px;
    background: rgb(7, 6, 6);
    
}
.details{
    width: 60vw;
    color: green;
}
.photo{
    padding: 20px;
}
.skill-set{
    text-transform: uppercase;
}
.Skills{
    border: 6px solid black;
    color: white;
    background-color: rgb(7, 6, 6) ;
}
